*{
    margin: 0;
}

.contenedor{
    background-color:beige;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


p{
    font-size: x-large;
    padding:15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button{
    font-size: x-large;
    padding: 0.75em; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    

#yesbtn {
    transform: translate(-100%,0);
}

#nobtn{
    position: absolute;
}
